$header_height: 15vh

header
  background-color: #222
  color: white
  position: absolute
  top: 0
  left: 0
  width: 100vw
  height: $header_height
  display: flex
  align-items: center

  h1
    margin: auto 5vw
    padding: 10px

    span
      color: #6bc3ff

main
  position: absolute
  top: $header_height
  left: 0
  width: 100vw
  height: 100vh - $header_height

div#lobby
  padding: 2vh 10vw 0 10vw

  h2
    text-align: center

  div#join
    display: flex
    justify-content: center
    flex-wrap: wrap

    input
      margin: 10px 3rem

  div.playersAndStart
    display: flex
    min-height: 20vh
    margin-top: 3vh

    ul
      flex-basis: 80%
      display: flex
      flex-wrap: wrap
      justify-content: space-between
      list-style-type: none

      li
        margin: 2px 8px
        font-weight: bold
        color: white

    button
      align-self: center
      padding: 15px

div#game

  div.friends
    display: flex
    flex-wrap: wrap
    justify-content: space-around
    padding: 1vh 2vw

    table, tr, th, td
      border-collapse: collapse
      text-align: center

    .selectedPlayer
      color: red

    table
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
      margin: 0 5px 10px 5px

    th
      padding: .8rem 1.5rem
      background-color: #5ac18e
      font-size: 1.05em

    td
      padding: 6px 0
      background-color: #eef8f3
      font-weight: bold

  img#stackCard
    position: absolute
    left: 0
    right: 0
    margin: auto
    top: 22vh
    max-height: 25vh

  h3
    text-align: center
    color: red
    position: absolute
    bottom: 17rem
    left: 0
    width: 100vw
    margin-bottom: 1vh

  button#pickBtn
    position: absolute
    bottom: 17rem
    left: 0

  div#myDeck
    position: absolute
    bottom: 0
    left: 0
    width: 100vw
    margin-bottom: 0
    padding-left: 0
    background-color: #888

    ul
      display: flex
      flex-wrap: wrap
      justify-content: center
      list-style-type: none
      padding: 0 10px

  img
    max-height: 15vh
    margin: auto 5px


:host ::ng-deep
  p-footer
    display: flex
    justify-content: space-around

  .p-scrollpanel-bar
    background-color: #6bc3ff
