<header>
  <h1>Nom de la salle&nbsp;: <span>{{idGame}}</span></h1>
</header>

<main>
  <div id="lobby" *ngIf="state==1">
    <h2>Veuillez choisir un pseudo&nbsp;:</h2>
    <div id="join">
      <input pInputText type="text" placeholder="Votre pseudo" (keyup.enter)="joinRoom()" maxlength="15"
      [(ngModel)]="username" (keypress)="keyPressVerification($event)" #usernameInput [disabled]="joinRoomDisabled" />
      <button pButton (click)="joinRoom()" label="Rejoindre" [disabled]="joinRoomDisabled"></button>
    </div>
    <div class="playersAndStart">
      <ul>
        <li *ngFor="let p of friends">{{p.username}}</li>
      </ul>
      <p-divider layout="vertical"></p-divider>
      <button pButton (click)="startGame($event)" label="Démarrer la partie" class="p-button-success"></button>
    </div>
  </div>

  <div id="game" *ngIf="state==2">
    <div class="friends">
      <table *ngFor="let el of friends">
        <tr [className]="playerRound==el.username ? 'selectedPlayer' : ''">
          <th>{{el.username}}</th>
        </tr>
        <tr>
          <td>{{el.deckSize}}</td>
        </tr>
      </table>
    </div>

    <div id="myDeck">
      <p-scrollPanel [style]="{height: '17rem'}">
        <ul *ngIf="myDeck">
          <li *ngFor="let card of myDeck; let index=index;">
            <img *ngIf="card.special" src="/assets/cards/{{card.nb}}.svg"
                alt="{{card.color}}: {{card.nb}}" (click)="playCard(index)"/>
            <img *ngIf="!card.special" src="/assets/cards/{{card.nb}}_{{card.color}}.svg"
                alt="{{card.color}}: {{card.nb}}" (click)="playCard(index)"/>
          </li>
        </ul>
      </p-scrollPanel>
    </div>

    <h3 *ngIf="playerRound==username">C'est à votre tour de jouer !</h3>
    <button id="pickBtn" pButton (click)="pickCard()" label="Piocher une carte"></button>

    <img *ngIf="stackCard" id="stackCard" alt="{{stackCard.color}}: {{stackCard.nb}}"
        src="/assets/cards/{{stackCard.nb}}_{{stackCard.color}}.svg" />

    <button *ngIf="canRestart" pButton (click)="restart()" label="Restart"></button>
  </div>
</main>

<p-toast></p-toast>
<p-confirmPopup></p-confirmPopup>
<p-dialog header="Choix de couleur" [(visible)]="displayChoiceColor">
    <p style="text-align:center">Veuillez choisir une couleur :</p>
    <p-selectButton [options]="colors" [(ngModel)]="selectedColor" optionLabel="label" optionValue="code"></p-selectButton>
    <p-footer>
      <button pButton class="p-button-danger" label="Annuler" (click)="displayChoiceColor=false"></button>
      <button pButton class="p-button-success" label="Valider" (click)="validateColor()"></button>
    </p-footer>
</p-dialog>
