main
  height: 100vh
  width: 100vw
  padding: 0 10vw
  position: absolute
  top: 0
  left: 0

h1, h2
  text-align: center

div#join
  display: flex
  justify-content: space-around
  flex-wrap: wrap
  *
    margin: 5px 10px

ul
  li
    margin-bottom: 10px
