<main>
  <h1>Bienvenue dans mon UNO&nbsp;!</h1>

  <h2>Créer ou rejoindre une partie</h2>
  <div id="join">
    <button pButton (click)="randomName()" label="Nom aléatoire"></button>

    <input pInputText type="text" placeholder="Nom de la salle" (keyup.enter)="joinRoom()"
      [(ngModel)]="idGame" (keypress)="keyPressVerification($event)" #gameInput maxlength="15"/>

    <button pButton (click)="joinRoom()" label="Rejoindre"></button>
  </div>

  <p-divider></p-divider>

  <h2>Règles du jeu</h2>
  <h3>But du jeu</h3>
  <p>Pour gagner au Uno, vous devez être le 1er à vous débarrasser de toutes vos cartes.</p>

  <h3>Déroulement de la partie</h3>
  <p>Au début de la partie, tous les joueurs reçoivent 7 cartes.
    Une première carte est en même temps révélée pour démarrer la partie.</p>
  <p>À chaque tour, un joueur devra se débarrasser d'une carte de sa main.
    Pour cela, il faut que la carte posée sur la table soit de la même couleur que notre carte
    ou qu'elle soit de même symbole. Si aucune carte ne peut être jouée, le joueur devra
    piocher jusqu'à obtenir une carte jouable.</p>

  <h3>Cartes spéciales</h3>
  <ul>
    <li><b>+2&nbsp;: </b>Le joueur suivant pioche 2 cartes.</li>
    <li><b>Inversion&nbsp;: </b>Le sens du jeu est inversé.</li>
    <li><b>Blocage&nbsp;: </b>Le joueur suivant passe son tour.</li>
    <li><b>Joker&nbsp;: </b>Le joueur utilisant cette carte choisi la couleur du jeu.</li>
    <li><b>+4&nbsp;: </b>Le joueur utilisant cette carte choisi la couleur du jeu.
      Le joueur suivant pioche 4 cartes.</li>
  </ul>
</main>
